.card-img-top {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 100%;
  overflow: hidden; 
}

.card-img-top img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
}

.card-desc{
  display: -webkit-box;               /* Use the flexbox layout model */
  -webkit-box-orient: vertical;      /* Stack the lines vertically */
  -webkit-line-clamp: 5;             /* Limit to 4 lines */
  overflow: hidden;                   /* Hide the overflow */
  text-overflow: ellipsis; 
}

.card-box {
  height: 100%;
}

.card-box:hover{
  text-decoration: none;
}