.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #5c4b3b;
}

.footer-header{
  color: white;
}

.footer-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:20px
}

.footer-link{
  display: flex;
}

.footer-link:hover{
  text-decoration: none;
  color: rgb(161, 161, 161);
  .footer-text{
    color: rgb(161, 161, 161);
  }
}

.footer-text{
  font-size: 1.5rem;
  color: white;
}
